[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Anton Kurtin
	email = norflin321@gmail.com
[core]
	editor = ~/main/nvim-macos-arm64/bin/nvim
